@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html {
    height: 100%;
  }

body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.card{
    display: block;
    border-radius: 10px;
    width: 220px;
    background-color: white;

}

.card img{
    height: 170px;
    width: 190px;
    margin: 15px;
    border-radius: 10px;
}

.card p{
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.card #first{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    padding: 0 20px;
}

.card #second{
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    padding: 0 20px;
    margin-bottom: 50px;
}